<div class="location-container">
 
  <div
    class="location-row"
    *ngFor="let location of locations"
  >
 
    <!-- LOCATION NAME -->
 
    <div class="location-card">
 
      {{ location.locationName }}
 
    </div>
 
    <!-- DROP AREA -->
 
    <div
      class="allocation-panel"
      cdkDropList
      [cdkDropListData]="location.assignedAssets"
      (cdkDropListDropped)="drop($event, location)"
    >
 
      <!-- ASSIGNED ASSETS -->
 
      <div
        class="asset-card"
        *ngFor="let asset of location.assignedAssets"
        cdkDrag
      >
 
        {{ asset.assestName }}
 
      </div>
 
      <!-- EMPTY MESSAGE -->
 
      <div
  class="drop-placeholder"
  *ngIf="!location.assignedAssets || location.assignedAssets.length === 0"
>
  DROP HERE
</div>
 
    </div>
 
  </div>
 
</div>
 