<!-- location-details.html -->

{{ isDragging ? 'Dragging...' : 'Not Dragging' }}

<div
  class="test-drag-item"
  draggable="true"
  (dragstart)="
    onDragStart($event, {
      id: 'TEST_1',
      label: 'Dummy Asset',
    })
  "
  (dragend)="onDragEnd()"
>
  DRAG ME
</div>

<div class="location-container">
  @for (location of locations$ | async; track location.locationId) {
    <div class="location-row">
      <div class="location-card">
        {{ location.locationName }}
      </div>

      <div
        class="allocation-panel"
        [ngClass]="{ 'drag-active': isDragging }"
        (drop)="drop($event, location)"
        (dragover)="onDragOver($event)"
        (dragenter)="onDragOver($event)"
      >
        @for (asset of location.assignedAssets; track asset.id) {
          <div class="asset-card">
            <span>
              {{ asset.assetName }}
            </span>
          </div>
        }
        @if (location.assignedAssets.length === 0) {
          <div class="drop-placeholder">DROP HERE</div>
        }
      </div>
    </div>
  }
</div>
