<div class="location-container" cdkDropListGroup>

  <div *ngFor="let loc of locations$ | async" class="location-row">

    <div class="location-card">
      {{ loc.locationName }}
    </div>

    <div
      cdkDropList
      [id]="loc.locationId"
      [cdkDropListData]="loc.assignedAssets"
      [cdkDropListConnectedTo]="locationIds.concat(['assetList'])"
      class="drop-zone"
      (cdkDropListDropped)="drop($event)"
    >

      <div
        *ngFor="let asset of loc.assignedAssets"
        cdkDrag
        class="asset-item"
      >
        {{ asset.assetName }}
      </div>

      <div class="drop-placeholder" *ngIf="!loc.assignedAssets?.length">
        Drop assets here
      </div>

    </div>

  </div>

</div>